<!--
Le composant races doit afficher deux onglets
(voir la documentation de Bootstrap pour savoir comment créer des onglets),
et doit utiliser la directive router-outlet pour afficher
le contenu associé à l’onglet actif.

https://getbootstrap.com/docs/4.3/components/navs/#tabs
-->

<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="pending">Pending</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="finished">Finished</a>
  </li>

</ul>


<router-outlet></router-outlet>



