<p>finished-races</p>
<h2 *ngFor="let race of races | slice: (page - 1) * 10:page * 10">
  <pr-race [raceModel]="race"></pr-race>
</h2>
<ngb-pagination [collectionSize]="races.length" [(page)]="page" size="lg"></ngb-pagination>

<!--
Et la page courante, c’est la valeur de la propriété page,
qui est mise à jour automatiquement par le composant de pagination lorsqu’on l’utilise pour naviguer.
Utilisez donc cette propriété page pour n’itérer que sur une tranche (slice) du tableau.
Par exemple, si page vaut 2, il ne faut afficher que les indices entre 10 et 20 du tableau.
-->
