<!--
Le champ login est de type text;
le champ password est de type password;
le champ birthYear est de type number.

Les 3 champs doivent bien sûr être dans un form dont l’événement ngSubmit
déclenche l’appel d’une méthode register à définir dans notre composant.
Pour l’instant, laissez la méthode vide, on s’en occupera dans l’exercice suivant.

Ajouter un bouton de type submit au bas du formulaire, contenant le texte "Let’s go!".
Ce bouton doit être désactivé si le formulaire est invalide.
D’ailleurs en parlant d’erreurs, on voudrait également afficher
un message si un champ obligatoire n’est pas rempli.
Ajoutez donc une div en-dessous de chaque input qui ne s’affichera
que si le champ est dirty et a l’erreur required. Le message affiché
devra être "Login is required", "Password is required", "Birth year is required".

On voudrait aussi afficher une bordure rouge autour du champ
si celui-ci est invalid et dirty.
Modifiez donc le style CSS pour qu’il en soit ainsi.
-->

<h1>Sign up</h1>

<form (ngSubmit)="register()" [formGroup]="userForm">

  <div class="form-group">
    <label for="login" id="login-label">Login</label>
    <input id="login" class="form-control" formControlName="login" />
    <div *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')" id="login-warning">Login is required</div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" class="form-control" type="password" formControlName="password" />
    <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is required</div>
  </div>

  <div class="form-group">
    <label for="birthYear">Birth year</label>
    <input id="birthYear" class="form-control" type="number" formControlName="birthYear" />
    <div *ngIf="birthYearCtrl.dirty && birthYearCtrl.hasError('required')">Birth year is required</div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Register</button>

</form>
